.card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(229, 231, 235, 0.5);
  /* overflow: hidden; */
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  max-width: 100%;
}

.card:hover {
  box-shadow: 0 25px 50px -12px var(--gray);
  transform: translateY(-0.5rem);
  border-color: rgba(147, 197, 253, 0.3);
}
.image {
  border-radius: 10px;
}

.content {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e293b;
  transition: color 0.3s ease;
}

.card:hover .title {
  color: #1d4ed8;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.price {
  font-size: 1.875rem;
  font-weight: 700;
  background: linear-gradient(to right, #1e293b, #475569);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.statusSection {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  /* margin-top: 16px; */
}

.statusTag {
  display: flex;
  align-items: center;
  gap: 8px;
}
.infoButton {
  margin-left: 5px;
}
.selectButton {
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .content {
    padding: 1.5rem;
    gap: 1rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .price {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 1rem;
    gap: 0.75rem;
  }

  .title {
    font-size: 1.125rem;
  }

  .price {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 0.75rem;
    gap: 0.5rem;
  }

  .title {
    font-size: 1rem;
  }

  .price {
    font-size: 1rem;
  }
}
