:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */

  /* Padding */
  --sm-pad: 5px;
  --m-pad: 10px;
  --lg-pad: 15px;
  --xlg-pad: 20px;

  /* Colors */
  --main-blue: #111828;
  --sec-blue: #384553;
  --thrd-blue: #3f83ed;
  --ligth-blue-: #81a6b4;
  --brick-col: #ae593b;
  --brown-: #6a5043;
  --dark-gray-: #6c7078;
  --gray-: #d9d0cb;
  --green-: #416e41;

  /* Gradient */
  --gradient: linear-gradient(
    90deg,
    rgba(17, 24, 40, 1) 0%,
    rgba(17, 24, 40, 1) 30%,
    rgba(108, 112, 120, 1) 100%
  );

  /* Border */
  --border-col: #e5e7eb;
  --main-border: 1px solid var(--border-col);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-height: 100vh;
  height: 100vh;
  background-color: var(--main-blue);
}
